<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/theme/assets/css/webflow.css" />
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>